#footer {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-top: solid gray;

    display: inline-flex;
    align-content: center;
    justify-content: space-evenly;
    align-items: flex-start;

    width: 100vw;

    position: absolute;
    bottom: 0;
}

#footer>div>h1 {
    color: lightgray;
}

#footer>div>a {
    color: white;
}

#footer>:last-child>img {
    width: 64px;
}

#footer>div>a>img {
    width: 32px;
    transform: translateY(30%);
    padding-right: 6px;
}

#footer>div>p,
#footer>div>div>p {
    color: lightgray;
}

#footer>div>div>p>a {
    color: gray;
}